rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() { return request.auth != null; }
    
    // Default Deny
    match /{document=**} { 
      allow read, write: if false; 
    }
    
    match /news/{document=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }
    
    match /videos/{document=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }
    
    match /settings/{document=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }
    
    match /livestreams/{document=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }
    
    match /leader/{document=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }
    
    match /events/{document=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }
    
    match /urgentNews/{document=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }
    
    match /notifications/{document=**} {
      allow read: if true;
      allow write: if isSignedIn();
    }
  }
}
